<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/dl.mode2.css">
<style>
dl.solo{display: -webkit-flex;padding: .05rem .1rem;background: #fff;margin-bottom: .1rem;}
dl.solo dt{width: .4rem;height: .4rem;border-radius: 50%;overflow: hidden;margin-right: .1rem;}
dl.solo dt img{width: 100%;}
dl.solo dd{-webkit-flex-grow:1;line-height: .4rem;}
dl.mode2{background: #fff;padding: .1rem .1rem 0}
dl.mode2 dt{width: .45rem;height: .45rem;overflow: hidden;border-radius: 50%}
dl.mode2 dd{padding: 0}
dl.mode2 dd *{line-height: .13rem;}
</style>
	<div class="wrap">
		<header>
			<span id="back" ui-sref="user"><img src="images/icon_02@2x.png" alt=""></span>
			<a ui-sref="shujia"><img src="images/icon_03@2x.png" alt=""><span>书架</span></a>
			<h1>关注</h1>
		</header>
		<main id="main">
			<div>
				<dl class="solo">
					<dt><img src="images/pic(4).jpg" alt=""></dt>
					<dd>145*****123关注1人</dd>
				</dl>
				<dl class="mode2" ng-repeat="i in data.dlmode2d1">
					<dt><a href="#"><img src="{{
								i.img}}" alt=""></a></dt>
					<dd>
						<h1><a href="#">{{i.h1}}</a></h1>
						<p class="p1">{{i.p1}}</p>
						<p class="p2">{{i.p2}}</p>
					</dd>
				</dl>
				<dl class="mode2" ng-repeat="i in data.dlmode2d2">
					<dt><a href="#"><img src="{{
								i.img}}" alt=""></a></dt>
					<dd>
						<h1><a href="#">{{i.h1}}</a></h1>
						<p class="p1">{{i.p1}}</p>
						<p class="p2">{{i.p2}}</p>
					</dd>
				</dl>
			</div>
		</main>
	</div>